In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [4]:
twopowers_sr=pd.Series([1,2,4,8,16,32,64,128,256,512,1024])

In [5]:
BM=[False,False,False,True, False,True,True,False,True,False,True]

In [6]:
twopowers_sr[BM]

3        8
5       32
6       64
8      256
10    1024
dtype: int64

In [7]:
BM=twopowers_sr>=500
twopowers_sr[BM]

9      512
10    1024
dtype: int64

In [8]:
BM=twopowers_sr<500
twopowers_sr[BM]

0      1
1      2
2      4
3      8
4     16
5     32
6     64
7    128
8    256
dtype: int64

##### display the count of movies in the release year 2020 for each country

In [9]:
df=pd.read_csv("netflix_titles_2021.csv")
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [10]:
BM=df.release_year==2020

In [11]:
df[BM].country.value_counts()

United States                             336
India                                      75
United Kingdom                             44
South Korea                                28
Canada                                     26
                                         ...
Germany, Czech Republic                     1
United States, Bulgaria                     1
United Kingdom, France, Germany, Spain      1
Thailand, United States                     1
United States, South Korea, China           1
Name: country, Length: 107, dtype: int64

#### Count of TV shows in each country

In [12]:
BM=df.type=="TV Show"

In [13]:
df[BM].country.value_counts()

United States                                    760
United Kingdom                                   213
Japan                                            169
South Korea                                      158
India                                             79
                                                ...
Belarus                                            1
United Kingdom, Australia                          1
France, Australia, Germany                         1
Australia, New Zealand, United States              1
United States, France, South Korea, Indonesia      1
Name: country, Length: 196, dtype: int64

#### Rating=PG- 13 each year count

In [14]:
BM=df.rating=="PG-13"

In [15]:
df[BM].release_year.value_counts()

2016    34
2017    32
2018    30
2010    26
2015    25
2009    25
2008    24
2011    23
2020    21
2014    19
2012    19
2019    19
2005    16
2013    15
2007    15
2006    15
2002    14
2021    14
2000    10
2003    10
1995    10
1997     9
2001     8
1999     8
2004     7
1998     7
1996     6
1994     4
1993     4
1990     4
1988     3
1986     2
1989     2
1987     2
1991     2
1979     1
1992     1
1965     1
1968     1
1955     1
1984     1
Name: release_year, dtype: int64

#### Rating = TV-MA in each year count

In [16]:
BM= df.rating=="TV-MA"

In [17]:
df[BM].release_year.value_counts()

2018    549
2019    500
2020    469
2017    451
2016    341
2021    270
2015    184
2014     79
2013     64
2012     54
2010     42
2011     27
2008     25
2009     18
2006     17
2007     17
2004     10
2003      8
2005      8
1998      7
2002      7
1999      5
1991      5
1983      4
1993      4
1990      3
1992      3
1997      3
1985      3
1989      2
1978      2
1975      2
1945      2
1979      2
2001      2
1972      2
1982      2
1984      1
1973      1
1986      1
1981      1
1988      1
1970      1
1994      1
1977      1
2000      1
1987      1
1995      1
1963      1
1976      1
1967      1
Name: release_year, dtype: int64

#### Rating=R in each year count

In [18]:
BM=df.rating=="R"

In [19]:
df[BM].release_year.value_counts()

2016    86
2017    73
2015    67
2018    52
2014    49
2020    48
2013    41
2019    39
2012    29
2010    26
2009    25
2021    21
2011    20
2008    19
2003    16
1997    16
2001    14
2007    14
2002    12
2006    12
1992    11
1999    10
2005    10
1996     9
1998     9
2000     8
2004     7
1993     6
1988     5
1980     5
1990     4
1995     4
1994     4
1973     3
1982     3
1986     2
1967     2
1979     2
1974     2
1987     2
1981     2
1991     2
1971     1
1976     1
1989     1
1962     1
1968     1
1972     1
1978     1
1984     1
Name: release_year, dtype: int64

#### Rating=PG

In [20]:
BM=df.rating=="PG"

In [21]:
df[BM].release_year.value_counts()

2018    31
2011    18
2014    15
2017    15
2020    15
2013    14
2016    14
2019    12
2021    11
2015    11
2007    10
2008    10
2009    10
2010     8
2006     8
2004     8
2012     7
2005     5
2001     5
2003     5
2002     4
1976     4
1984     4
2000     4
1993     4
1989     3
1994     3
1992     3
1981     2
1975     2
1982     2
1995     2
1978     2
1977     2
1986     2
1999     2
1983     1
1974     1
1973     1
1997     1
1980     1
1979     1
1985     1
1991     1
1990     1
1996     1
Name: release_year, dtype: int64

#### Rating=TV-Y7

In [22]:
BM=df.rating=="TV-Y7"

In [23]:
df[BM].release_year.value_counts()

2020    41
2018    40
2017    37
2019    36
2021    33
2016    33
2013    20
2012    15
2015    14
2014    12
2011    11
2010     8
2009     5
2008     4
2005     3
2007     3
2003     2
1999     2
2001     2
2000     2
2006     2
1996     2
2002     1
1997     1
1993     1
1998     1
2004     1
1981     1
1989     1
Name: release_year, dtype: int64

#### Number of shows in India

In [24]:
BM=df.country=="India"

In [26]:
df[BM].type.value_counts()

Movie      893
TV Show     79
Name: type, dtype: int64

#### Number of shows in US

In [27]:
BM=df.country=="United States"

In [28]:
df[BM].type.value_counts()

Movie      2058
TV Show     760
Name: type, dtype: int64

#### Number of shows in South Africa

In [29]:
BM=df.country=="South Africa"

In [30]:
df[BM].type.value_counts()

Movie      24
TV Show     6
Name: type, dtype: int64

#### Number of shows in UK

In [31]:
BM=df.country=="United Kingdom"

In [32]:
df[BM].type.value_counts()

TV Show    213
Movie      206
Name: type, dtype: int64

#### Number of countries released show on September 24,2021

In [33]:
BM=df.date_added=="September 24, 2021"

In [34]:
df[BM].country.value_counts()

South Africa                                                             1
India                                                                    1
United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia    1
United Kingdom                                                           1
United States                                                            1
Name: country, dtype: int64

#### Number of countries released show on November 1, 2019

In [35]:
BM=df.date_added=="November 1, 2019"

In [36]:
df[BM].country.value_counts()

United States                                          52
Japan                                                   5
United Kingdom                                          3
Mexico                                                  3
United Kingdom, United States                           2
Spain                                                   1
United States, Italy, United Kingdom, Liechtenstein     1
Hong Kong                                               1
United States, United Kingdom                           1
United States, Mexico                                   1
United States, Canada                                   1
Mexico, United States                                   1
United States, United Kingdom, Italy                    1
Italy                                                   1
Argentina, Spain                                        1
United States, Germany                                  1
Germany                                                 1
Canada                                                  1
Italy, Belgium                                          1
United Kingdom, Hungary, Australia                      1
Canada, Australia                                       1
United States, Japan                                    1
India                                                   1
France                                                  1
United States, Australia                                1
Name: country, dtype: int64

#### duration=1 season in each year count

In [38]:
BM=df.duration=="1 Season"

In [39]:
df[BM].release_year.value_counts()

2020    291
2018    256
2019    252
2021    203
2017    176
2016    167
2015    116
2014     64
2013     45
2012     42
2011     34
2009     32
2010     27
2008     16
2007      8
2005      8
2006      7
2004      7
2003      5
2002      4
1999      4
1997      3
1993      3
2001      3
1996      3
2000      2
1986      1
1990      1
1985      1
1998      1
1946      1
1981      1
1988      1
1979      1
1994      1
1991      1
1972      1
1925      1
1995      1
1945      1
1989      1
Name: release_year, dtype: int64

#### Duration =90 min in each country count

In [40]:
BM=df.duration=="90 min"

In [41]:
df[BM].country.value_counts()

United States                                              71
United Kingdom                                              8
Canada                                                      6
India                                                       4
United States, Canada                                       3
Germany                                                     3
Mexico                                                      3
Brazil                                                      2
Hong Kong                                                   2
Spain                                                       2
Japan                                                       2
United States, France                                       2
Philippines                                                 2
Indonesia                                                   2
Singapore, Japan, France                                    1
Ireland                                                     1
United Kingdom, Spain, Belgium                              1
United Kingdom, Denmark, Canada, Croatia                    1
United States, Australia, South Africa, United Kingdom      1
United States, United Kingdom, Denmark, Sweden              1
Canada, United States                                       1
Canada, United States, Germany                              1
Denmark, France, United States, Sweden                      1
United States, United Kingdom                               1
United States, Senegal                                      1
Hong Kong, China                                            1
Poland, West Germany                                        1
Denmark                                                     1
United States, India, South Korea, China                    1
Egypt                                                       1
Spain, Portugal                                             1
Australia, United Kingdom, United Arab Emirates, Canada     1
Argentina                                                   1
Belgium, United Kingdom                                     1
Bulgaria, United States                                     1
France, Canada, United States, Spain                        1
Mauritius                                                   1
Taiwan                                                      1
United States, Canada, United Kingdom                       1
Nigeria                                                     1
Turkey                                                      1
United Arab Emirates                                        1
United Kingdom, Canada, United States                       1
South Africa                                                1
Netherlands                                                 1
United Kingdom, United States                               1
Argentina, Spain                                            1
New Zealand                                                 1
France, Belgium                                             1
Name: country, dtype: int64

In [42]:
df=pd.read_excel("Employee Sample Data.xlsx")
df

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT

#### Ethnicity=Asian in each country count

In [43]:
BM=df.Ethnicity=="Asian"

In [45]:
df[BM].Country.value_counts()

China            218
United States    186
Name: Country, dtype: int64

#### Age<55 in each department

In [46]:
BM=df.Age<55

In [47]:
df[BM].Department.value_counts()

IT                 188
Engineering        115
Sales              113
Human Resources     99
Marketing           95
Finance             89
Accounting          69
Name: Department, dtype: int64

#### Age>=60 in each country

In [48]:
BM=df.Age>=60

In [49]:
df[BM].Country.value_counts()

United States    75
China            30
Brazil            8
Name: Country, dtype: int64

#### Gender=male in each department

In [50]:
BM=df.Gender=="Male"

In [51]:
df[BM].Department.value_counts()

IT                 122
Engineering         78
Sales               64
Marketing           63
Human Resources     61
Finance             51
Accounting          43
Name: Department, dtype: int64