In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [10]:
student={'NAME':['Abhimanyu Ravi CR','Ajith TA','AKSHAY A','Alen Tom Shaji','Anand Anil','Ansal M T','ARUN KUMAR N','Aswin C S','DAVOOD NASSAR','HARIPRIYA.K.U','Indrajith Kk','Jishnu vs','Jishnuraj mp','Jopika','keerthi ravi','kiran k s','LUBNA NIZAR','Mancy Mamachan','merlin p m','Mohammed Safeer','Muhammed Siraj k','Nandakrishnan N','NAJMI JAHANGIR','Nida Musthafa','RAHUL N','Ramshad TA','Sanika Sajeevan','Sanoy K M','shammas n m','Smijith CS','Sneha Shaji','soorya.s. nair','SWATHI AS','vidhya ag','Vishnu Mukundan'],
         'Percentage':[86.67,88.89,93.33,95.56,91.11,97.78,86.67,82.22,88.89,91.11,84.44,88.89,84.44,82.22,91.11,97.78,88.89,91.11,88.89,86.67,95.56,'Absent',84.44,88.89,91.11,97.78,93.33,86.67,91.11,82.22,77.78,88.89,91.11,88.89,91.11 ]
        }
df=pd.DataFrame(student)
df.head()

                NAME Percentage
0  Abhimanyu Ravi CR      86.67
1           Ajith TA      88.89
2           AKSHAY A      93.33
3     Alen Tom Shaji      95.56
4         Anand Anil      91.11

In [8]:
l=['Abhimanyu Ravi CR','Ajith TA','AKSHAY A','Alen Tom Shaji','Anand Anil','Ansal M T','ARUN KUMAR N','Aswin C S','DAVOOD NASSAR','HARIPRIYA.K.U','Indrajith Kk','Jishnu vs','Jishnuraj mp','Jopika','keerthi ravi','kiran k s','LUBNA NIZAR','Mancy Mamachan','merlin p m','Mohammed Safeer','Muhammed Siraj k','Nandakrishnan N','NAJMI JAHANGIR','Nida Musthafa','RAHUL N','Ramshad TA','Sanika Sajeevan','Sanoy K M','shammas n m','Smijith CS','Sneha Shaji','soorya.s. nair','SWATHI AS','vidhya ag','Vishnu Mukundan']
len(l)

35

In [9]:
k=[86.67,88.89,93.33,95.56,91.11,97.78,86.67,82.22,88.89,91.11,84.44,88.89,84.44,82.22,91.11,97.78,88.89,91.11,88.89,86.67,95.56,'Absent',84.44,88.89,91.11,97.78,93.33,86.67,91.11,82.22,77.78,88.89,91.11,88.89,91.11 ]
len(k)

35